<div class="row list-countries border rounded bg-light p-3">
  <div class="col-12">

    <div class="row mb-2">
      <div class="col-12">

        <app-map-countries [markers]="markers"></app-map-countries>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-12">
        @if (subregion$ | async; as listSubregions) {
          <select name="subregions" class="form-control"
           placeholder="Selecciona una region"
           [(ngModel)]="subregionSelected"
           (change)="filterCountries()">
            @for (subregion of listSubregions; track subregion) {
              <option [value]="subregion">{{subregion}}</option>
            }
          </select>
        }
      </div>

    </div>

    <div class="row ">
      <div class="col-md-5 col-12">

        <div class="row mt-4 mb-4">
          <div class="col-12">
            <span class="h1">paises</span></div>
        </div>

        <div class="row border rounded bg-white">
          <div class="col-12"
          id="Icountries"
          cdkDropList
          #lcountries="cdkDropList"
          [cdkDropListData]="listCountries"
          [cdkDropListConnectedTo]="[lcountriesToVisit]"
          (cdkDropListDropped)="drop($event)">
            @if(loadCountries){
              @for (country  of listCountries; track country.name) {

                <div class="" cdkDrag>

                  <ng-container [ngTemplateOutlet]="templateCountry"
                  [ngTemplateOutletContext]="{ $implicit : country}"></ng-container>
                </div>
                 <!-- <div cdkDrag class="row g-0 list-countries__country border mb-2 mt-2">
                  <div class="col-3">
                    <img class="img-fluid" [src]="country.flag" [alt]="country.name">
                  </div>

                  <div class="col-9 text-center align-content-center h5">
                    <span>{{country.name}}</span>
                  </div>
                </div>  -->



              }
            }@else {
              <div class="row justify-content-center aling-items-center h-100">
                <div class="col-12 spinner-border" role="status">
                  <span class="visually-hidden">Loading.....</span>
                </div>
              </div>
            }


          </div>
        </div>
      </div>

      <div class="offset-md-2 col-md-5 col-12">

        <div class="row mt-4 mb-4">
          <div class="col-12">
            <span class="h1">paises a visitar</span></div>
        </div>

        <div class="row border rounded bg-white">
          <div
          id="IcountriesToVisit"
          cdkDropList
          #lcountriesToVisit="cdkDropList"
          [cdkDropListData]="listCountriesToVisit"
          [cdkDropListConnectedTo]="[lcountries]"
          (cdkDropListDropped)="drop($event)"
          class="col-12 list-countries__drop-list">

              @for (country  of listCountriesToVisit; track country.name) {
                <!-- <div cdkDrag class="row g-0 list-countries__drop-list__country border mb-2 mt-2">
                  <div class="col-3">
                    <img class="img-fluid" [src]="country.flag" [alt]="country.name">
                  </div>

                  <div class="col-9 text-center align-content-center h5">
                    <span>{{country.name}}</span>
                  </div>
                </div> -->

                <div class="" cdkDrag>

                  <ng-container [ngTemplateOutlet]="templateCountry"
                  [ngTemplateOutletContext]="{ $implicit : country}"></ng-container>
                </div>
              }



          </div>
        </div>

      </div>


    </div>
        <ng-template #templateCountry let-country>




          <div  class="row g-0 list-countries__country border mb-2 mt-2">
            <div class="col-3">
              <img class="img-fluid" [src]="country.flag" [alt]="country.name">
            </div>

            <div class="col-9 text-center align-content-center h5">
              <span>{{country.name}}</span>
            </div>
          </div>





        </ng-template>


  </div>
</div>
